In [1]:
import pandas as pd

In [4]:
data = [[1,2,3], [4,5,6], [7,8,9]]

In [5]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
df = pd.DataFrame(data, list('321'), list('ZYX'))

In [15]:
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [26]:
df.sort_index(inplace=True, axis=1)

In [27]:
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [28]:
df.sort_values(by='X', inplace=True)

In [29]:
df

   X  Y  Z
3  3  2  1
2  6  5  4
1  9  8  7

In [30]:
df.sort_values(by='3', axis=1, inplace=True)

In [31]:
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [33]:
df.sort_values(by=['X', 'Y'], inplace=True)
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [44]:
df.sort_values(by='3')

KeyError: '3'